.mymetadata
.recommenders
.DS_Store
.checkstyle
.classpath
.project
.class
.war
.zip
.rar
.idea
*.iml
*.jar
*.versionsBackup
.settings/*
.apt_generated/*
/indexes/*
/target/*
/src/main/webapp/WEB-INF/classes/*
/src/main/webapp/userfiles/*
temp/*
logs/*
.metadata/*
Servers/*
.factorypath
.springBeans
